

    <!--<div class="intro2">
    デレステのスクリーンショットをよくツイッターで見ているのですが、
    どんなに素晴らしい切り抜きでもツイッターの仕様上どんどん埋もれていくのがもったいないと思い、
    <b>デレステ専用の画像投稿サイト</b>を作ってみました。
    勉強も兼ねているので、色々チグハグな部分がありますが、よかったら使ってみてください！！
    <br>
    ※デレステのスクショ以外の投稿は控えて頂けますようお願い申し上げます。
    </div>-->
    <div class="post_idol_list">
    <!--対象カラムを配列で取得-->
    <!--block = Image.pluck(:idolname)-->
    <% block = Image.pluck(:idolname)%>
    <%  block.count %>
    <!--重複しているカラムをそれぞれ塊として取得-->
    <!--block.group_by(&:itself)-->

    <!--hashのvalueを数字に変換-->
    <% hash_count = block.group_by(&:itself)%>
    <% hash_count = block.group_by(&:itself).transform_values(&:size)%>
    <!--hashのvalueのみ取得-->
    <% hash_count.values %>
    <!--hashを配列に変換-->
    <% ary_count = hash_count.to_a %>
    <!--降順に並び替え-->
    <% ary_count.sort_by {|k,v| v}.reverse%>

    <!--ary_count.dig配列初期値-->
    <% idolname = 0 %>
    <!--ary_count.dig配列初期値-->
    <% post_count_left = 0 %>
    <!--ary_count.dig配列初期値-->
    <% post_count_right = 1 %>

    <div class="sorts_title">投稿数早見一覧</div><br><hr>
    <div class="sorts_content">
    <!--投稿されたアイドルの件数をそれぞれ取得-->
  <% hash_count.count.times do %>
    <%= ary_count.dig(idolname, post_count_left) %>(<%= ary_count.dig(idolname, post_count_right) %>)<br>
    <!--配列カウントアップ-->
    <% idolname += 1 %>
    <hr>
  <%end%>
    <br>
    <br>
  </div><!--class="sorts_content"-->
</div><!--class="post_idol_list"-->
