    <div class="post_idol_list">
    <!--対象カラムを配列で取得-->
    <!--block = Image.pluck(:idolname)-->
    <% block = Image.pluck(:idolname)%>
    <%  block.count %>
    <!--重複しているカラムをそれぞれ塊として取得-->
    <!--block.group_by(&:itself)-->

    <!--hashのvalueを数字に変換-->
    <% hash_count = block.group_by(&:itself)%><br>
    <% hash_count = block.group_by(&:itself).transform_values(&:size)%>
    <!--hashのvalueのみ取得-->
    <% hash_count.values %>
    <!--hashを配列に変換-->
    <% ary_count = hash_count.to_a %>
    <!--降順に並び替え-->
    <% ary_count.sort_by {|k,v| v}.reverse%>

    <div class="update_title">投稿数早見一覧</div><hr>
    <div class="sorts_content">


    <% @sorts.zip(hash_count).each do |image, hash_count| %>
      <!--idolnameをハッシュ化したものを配列に戻す-->
      <%value_count = hash_count.to_a%>

      <!--idolnameと等しい且つ、value_count[1]の値が1以上の場合そのリンクを表示-->
      <%if value_count[0].to_s == image.idolname || value_count[1].to_i >= 1%>
        <!--各リンク-->
        <%= link_to value_count[0].to_s,
        {controller: "images", action: "index", images_idolname: value_count[0].to_s},class: "color_gray no-underline"%>

          <!--配列の第一要素が空の場合、(投稿数)の部分を非表示-->
          <%unless value_count[1].to_s.blank?%>
            <!--各アイドルの投稿数-->
            (<%=value_count[1]  %>)<hr>
          <%else%><!--unless value_count[1].to_s.blank?-->
          <!--配列の第一要素に値が入っている場合、(投稿数)の部分を表示-->
          <%end%><!--unless value_count[1].to_s.blank?-->

      <%else%><!--value_count[0].to_s == image.idolname || value_count[1].to_i >= 1-->
      <!--リンクテキストの非表示-->
      <%end%><!--value_count[0].to_s == image.idolname || value_count[1].to_i >= 1-->

    <%end%><!--@sorts.zip(hash_count).each do |image, hash_count|-->

    <br>
    <br>
  </div><!--class="sorts_content"-->
</div><!--class="post_idol_list"-->
